doctype html
html
  head
      title boom goes the knoledge base
      link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')

  body
    .container
        block content
        br
        hr
        footer
          p Copyright &copy; 2017
